@import "tailwindcss";

.overview-section-post-overview,
.overview-section-consent-popup-agb,
.overview-section-consent-popup-data-protection {
  position: relative;
}

.overview-section-show-content {
  background-color: #f0f2f5;
}

/*.post-overview {
  background-color: #f3f5f6;
}*/

.overview-section-post-overview::after,
.overview-section-consent-popup-agb::after,
.overview-section-consent-popup-data-protection::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  pointer-events: none;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 -6px 8px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.3) inset;
}
