@import "tailwindcss";

.post-overview,
.consent-popup-agb,
.consent-popup-data-protection {
  position: relative;
}

.post-overview::after,
.consent-popup-agb:after,
.consent-popup-data-protection:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  pointer-events: none;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.7) inset;
}
