@media screen and (min-width: 1650px) {
  /*SignIn*/

  .logo-img {
    width: 9rem;
  }

  .headline-div {
    padding: 2.5rem 3.5rem;
  }

  .signin-headline {
    font-size: 3rem;
  }

  .signin-div {
    width: 95%;
    max-width: 21rem;
  }

  .signin-toasty-both-fields,
  .signin-toasty-incorrect {
    width: 27rem;
    height: 7rem;
    font-size: 1.5rem;
    padding: 15px;
  }

  .footer-info-div {
    margin-top: 6rem;
  }

  /*Navigation*/

  .nav-section-user-options-icon-div {
    background-color: #f3f5f6;
  }

  .nav-section-user-options-div {
    top: -13rem;
    right: 24%;
  }

  .nav-section-user-options-animation-div {
    top: 5rem;
    right: 24%;
  }

  .nav-section-user-options-icon {
    display: block;
  }

  .nav-section-user-mobile-options-icon {
    display: none;
  }

  /*Overview*/

  .overview-section-overview-placeholder,
  .overview-section-overview-placeholder2 {
    display: block;
  }

  .overview-section-show-content {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*Users*/

  .users-section-search-icon,
  .users-section-user-icon {
    width: 2rem;
  }

  /*New Post*/

  .create-post-popup-close-button {
    width: 9rem;
    height: 2.3rem;
  }
  .create-post-popup-reset-input-button {
    width: 10rem;
  }

  .create-post-popup-button-div {
    margin: 2rem auto 1rem auto;
  }

  .create-post-popup-create-button {
    width: 13rem;
    height: 2.3rem;
  }

  /*Post*/

  .post {
    margin: 0;
  }

  .post-user-div {
    padding: 20px 30px;
  }

  .post-profilpicture {
    width: 2.7rem;
    height: 2.7rem;
  }

  .post-kebab-menu-button {
    display: none;
  }

  .post-text {
    padding: 10px 20px;
  }

  .post-medium-div {
    margin: 1rem 0;
  }

  .post-timestamp {
    padding: 7px 15px;
    font-size: 17px;
  }

  .post-like-label,
  .post-dislike-label,
  .post-comment-label {
    font-size: 1.1rem;
  }

  /*Comment*/

  .comment-user-div {
    padding: 0.3rem 0 0 0.5rem;
  }

  .comment-text {
    margin: 1rem 0 1rem 0.5rem;
  }

  /*User*/

  .update-post-popup-input-button-div {
    margin: 0 auto;
    display: flex;
  }

  .update-post-popup-reset-input-button {
    width: 10rem;
  }

  .update-post-popup-button-div {
    margin: 2rem auto 1rem auto;
  }

  .update-post-popup-close-button,
  .delete-post-popup-close-button,
  .no-suppot-content-popup-close-button {
    width: 9rem;
    height: 2.3rem;
  }

  .update-post-popup-update-button {
    width: 16rem;
    height: 2.3rem;
  }

  .delete-post-popup-delete-button {
    width: 12rem;
    height: 2.3rem;
  }

  .user-section-post-overview-div {
    width: 35%;
    height: 42.5rem;
    margin: 1rem auto 0 auto;
    padding-bottom: 1rem;
  }

  .user-section-overview {
    width: 100%;
  }

  /*Settings*/

  .settings-section-delete-account-popup-content {
    margin-top: 0.7rem;
    font-size: 1.3rem;
  }

  .settings-section-delete-account-popup-close-button {
    width: 17rem;
    font-size: 17px;
  }

  .settings-section-delete-account-popup-delete-button {
    width: 13rem;
    font-size: 17px;
  }

  /*Impressum*/
}

@media screen and (max-width: 1650px) {
  /*SignIn*/

  .logo-img {
    width: 8rem;
  }

  .headline-div {
    padding: 2rem 3rem;
  }

  .signin-headline {
    font-size: 3rem;
  }

  .signin-div {
    width: 95%;
    max-width: 21rem;
  }

  .signin-toasty-both-fields,
  .signin-toasty-incorrect {
    width: 27rem;
    height: 7rem;
    font-size: 1.5rem;
    padding: 15px;
  }

  .footer-info-div {
    margin-top: 1.2rem;
  }

  /*Navigation*/

  .nav-section-user-options-icon-div {
    background-color: #f3f5f6;
  }

  .nav-section-user-options-div {
    top: -13rem;
    right: 17%;
  }

  .nav-section-user-options-animation-div {
    top: 5rem;
  }

  .nav-section-user-options-icon {
    display: block;
  }

  .nav-section-user-mobile-options-icon {
    display: none;
  }

  /*Overview*/

  .consent-popup-agb-div {
    padding-top: 75rem;
  }

  .consent-popup-agb-div,
  .consent-popup-data-protection-div,
  .consent-popup-user-consent-div {
    width: 75%;
    margin: 0 auto;
  }

  .consent-popup-data-protection {
    width: 100%;
    margin: 0 auto;
  }

  .consent-popup-agb,
  .consent-popup-data-protection {
    height: 35rem;
  }

  .consent-popup-button-div {
    padding-right: 13%;
  }

  .overview-section-show-content {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .overview-section-overview-placeholder,
  .overview-section-overview-placeholder2 {
    display: block;
  }

  .overview-section-post-overview {
    height: 48rem;
    padding: 0.1rem 0;
    position: relative;
  }

  /*Users*/

  /*New Post*/

  /*Message*/

  .message-overview-div {
    height: 43rem;
  }

  /*Post*/

  .post-user-div {
    padding: 20px 30px;
  }

  .post-profilpicture {
    width: 2.7rem;
    height: 2.7rem;
  }

  .post-kebab-menu-button {
    display: none;
  }

  .post-text {
    padding: 10px 20px;
  }

  .post-medium-div {
    margin: 1rem 0;
  }

  .post-timestamp {
    padding: 7px 15px;
    font-size: 17px;
  }

  .post-like-label,
  .post-dislike-label,
  .post-comment-label {
    font-size: 1.1rem;
  }

  /*Comment*/

  .comment-overview-popup-header {
    height: 40rem;
  }

  .comment-user-div {
    padding: 0.3rem 0 0 0.5rem;
  }

  .comment-text {
    margin: 1rem 0 1rem 0.5rem;
    text-align: left;
  }

  /*User*/

  .update-post-popup-input-button-div {
    margin: 0 auto;
    display: flex;
  }

  .update-post-popup-reset-input-button {
    width: 10rem;
  }

  .update-post-popup-button-div {
    margin: 2rem auto 1rem auto;
  }

  .update-post-popup-close-button,
  .delete-post-popup-close-button,
  .no-suppot-content-popup-close-button {
    width: 9rem;
    height: 2.3rem;
  }

  .update-post-popup-update-button {
    width: 16rem;
    height: 2.3rem;
  }

  .delete-post-popup-delete-button {
    width: 12rem;
    height: 2.3rem;
  }

  .user-section-post-overview-div {
    width: 35rem;
    height: 37rem;
    margin: 1rem auto;
    padding-bottom: 1rem;
  }

  /*Settings*/

  .settings-section-generally-data-main-div,
  .settings-section-private-data-overview-div {
    margin-top: 3rem;
  }

  .settings-section-delete-account-popup-content {
    font-size: 1.3rem;
  }

  .settings-section-delete-account-popup-close-button {
    width: 17rem;
    font-size: 17px;
  }

  .settings-section-delete-account-popup-delete-button {
    width: 13rem;
    font-size: 17px;
  }

  /*AGB*/
}

@media screen and (max-width: 1400px) {
  /*SignIn*/

  .logo-img {
    width: 7rem;
  }

  .headline-div {
    padding: 1.7rem 2.5rem;
  }

  .signin-headline {
    font-size: 2.7rem;
  }

  .signin-div {
    width: 95%;
    max-width: 21rem;
  }

  .signin-toasty-both-fields {
    width: 27rem;
    height: 7rem;
    font-size: 1.4rem;
    padding: 15px;
  }

  .signin-toasty-incorrect {
    font-size: 1.4rem;
  }

  /*Navigation*/

  .nav-section {
  }

  /*Overview*/

  .consent-popup-agb-div {
    padding-top: 80rem;
  }

  .consent-popup-button-div {
    padding-right: 13%;
  }

  .overview-section-overview-placeholder,
  .overview-section-overview-placeholder2 {
    display: block;
  }

  .overview-section-show-content {
    padding-top: 0;
    display: grid;
    grid-template-columns: 25% 1fr 25%;
  }

  .overview-section-post-overview {
    height: 33.3rem;
  }

  /*Users*/

  .users-section-popup-user-div {
    padding: 1.3rem 0 1.3rem 2.5rem;
  }

  /*New Post*/

  .new-post-section-textarea-div,
  .new-post-section-moderation-medium-div {
    width: 75%;
    max-width: 45rem;
  }

  /*Message*/

  .message-overview-div {
    width: 50%;
  }

  .message-section-user-info-div {
    margin: 0 2rem;
  }

  .message-section-button-div {
    width: 95%;
  }

  /*Post*/

  /*Comment*/

  /*User*/

  .user-section {
    padding-bottom: 1rem;
  }

  .user-post-overview {
    width: 85%;
    height: 37rem;
    margin: 1rem auto;
    padding-bottom: 1rem;
  }

  /*Settings*/

  .settings-section-delete-user-account {
    margin-bottom: 5rem;
  }

  /*AGB*/

  /*Data-Protection*/
}

@media screen and (max-width: 1000px) {
  /*SignIn*/

  .logo-img {
    width: 6rem;
  }

  .headline-div {
    padding: 1.5rem 2rem;
  }

  .signin-headline {
    font-size: 2.5rem;
  }

  .signin-toasty-both-fields,
  .signin-toasty-incorrect {
    font-size: 1.3rem;
  }

  .footer-info-div {
    margin-top: 3.2rem;
  }

  .seperate-symbole {
    display: block;
  }

  /*Navigation*/

  .nav-section {
    column-gap: 5%;
  }

  .nav-section-home-icon,
  .nav-section-users-icon,
  .nav-section-ring-bell-icon,
  .nav-section-bell-icon {
    width: 1.6rem;
  }

  .nav-section-plus-icon,
  .nav-section-paper-icon {
    width: 1.4rem;
  }

  .nav-section-user-picture {
    width: 2rem;
    height: 2rem;
  }

  .nav-section-user-icon {
    width: 1.8rem;
  }

  .nav-section-overview-label,
  .nav-section-search-users-label,
  .nav-section-new-post-button-label,
  .nav-section-new-message-label,
  .nav-section-user-name {
    font-size: 16px;
  }

  .nav-section-user-label,
  .nav-section-settings-label,
  .nav-section-logout-label {
    font-size: 1rem;
  }

  .nav-section-user-component-icon,
  .nav-section-to-settings-icon,
  .nav-section-logout-icon {
    width: 1.5rem;
  }

  .nav-section-user-picture {
    width: 2.3rem;
    height: 2.3rem;
  }

  .nav-section-user-options-icon {
    width: 1.1rem;
  }

  .nav-section-new-message {
    top: 0.5rem;
    left: 1.4rem;
    font-size: 0.9rem;
  }

  .nav-section-user-options-icon-div {
    top: 1.8rem;
    left: 2rem;
    width: 1.4rem;
    height: 1.4rem;
  }

  .nav-section-user-options-div {
    right: 3%;
  }

  .nav-section-user-options-animation-div {
    right: 3%;
    padding: 0.3rem;
  }

  /*Overview*/

  .overview-section-consent-popup {
    padding: 1.5rem 0.5rem;
  }

  .overview-section-cancel-button,
  .overview-section-continue-button {
    height: 2.3rem;
  }

  .overview-section-show-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .overview-section-overview-placeholder,
  .overview-section-overview-placeholder2 {
    display: none;
  }

  /*Users*/

  .users-section-popup-input {
    height: 2.3rem;
  }

  .users-section-popup-search-button {
    height: 2.5rem;
  }

  .users-section-popup-search-icon {
    width: 1.3rem;
  }

  .users-section-popup-user-picture {
    width: 3.3rem;
    height: 3.3rem;
  }

  .users-section-popup-post-user-icon {
    width: 2.3rem;
    height: 2.3rem;
  }

  .users-section-popup-close-button {
    font-size: 1rem;
  }

  .users-section-search-icon,
  .users-section-users-icon {
    width: 1.6rem;
  }

  /*New Post*/

  .new-post-section-textarea-div,
  .new-post-section-moderation-medium-div {
    width: 75%;
  }

  .new-post-section-create-post-medium-button-div {
    flex-direction: column;
    row-gap: 0.3rem;
  }

  .new-post-section-create-post-remove-avatar-file-icon {
    width: 1.3rem;
  }

  .new-post-section-create-post-reset-input-button {
    width: 100%;
    height: 2.3rem;
  }

  .new-post-section-create-post-close-button,
  .new-post-section-create-post-create-button {
    height: 2.3rem;
    font-size: 1rem;
  }

  /*Message*/

  .message-section-headline {
    font-size: 2rem;
  }

  .message-section-overview-div {
    width: 75%;
  }

  .message-section-post-user-icon {
    width: 2rem;
  }

  .message-section-button-div {
    max-width: 30rem;
  }

  .message-section-primary-button-div {
    column-gap: 1.3rem;
  }

  .message-section-follow-true-button,
  .message-section-follow-false-button,
  .message-section-show-profil-button {
    font-size: 1rem;
  }

  .message-section-show-profil-button {
    padding: auto 5px;
  }

  /*Post*/

  .post-profilpicture {
    width: 2.7rem;
    height: 2.7rem;
  }

  .post-timestamp {
    padding: 7px 15px;
    font-size: 15px;
  }

  .post-like-label,
  .post-dislike-label,
  .post-comment-label {
    font-size: 1rem;
  }

  /*Comment*/

  .comment-overview-popup-description {
    margin: 0.5rem 0;
  }

  .comment-no-support-content-popup-focus-word {
    font-size: 1.1rem;
  }

  .comment-no-support-content-popup-text {
    font-size: 1rem;
  }

  .comment-overview-popup-close-button,
  .comment-overview-popup-open-new-comment-button,
  .comment-create-popup-close-button,
  .comment-create-popup-new-comment-button,
  .comment-update-popup-close-button,
  .comment-update-popup-update-button {
    height: 2.3rem;
  }

  .comment-user-picture {
    width: 2.3rem;
    height: 2.3rem;
  }

  .comment-user-icon {
    width: 2rem;
  }

  .comment-option-button-div {
    padding: 1rem auto 0.7rem auto;
  }

  .comment-edit-icon,
  .comment-delete-icon {
    width: 1.5rem;
  }

  .comment-like-icon,
  .comment-dislike-icon {
    width: 1.4rem;
  }

  .delete-comment-popup-description {
    font-size: 1.1rem;
  }

  .comment-delete-popup-close-button,
  .comment-delete-popup-delete-button {
    height: 2.3rem;
    font-size: 0.9rem;
  }

  .comment-delete-popup-close-icon,
  .comment-delete-popup-delete-icon {
    width: 1.2rem;
  }

  /*User*/

  .update-post-popup-input-button-div {
    margin: 0 auto;
    display: flex;
  }

  .delete-post-popup-description {
    margin-top: 1rem;
  }

  .followers-div,
  .following-div,
  .followers-label,
  .following-label {
    font-size: 17px;
  }

  .user-section-follow-button {
    font-size: 1rem;
    height: 2.4rem;
  }

  .user-section-post-overview-div {
    width: 75%;
    height: 37rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  /*Settings*/

  .settings-section {
    padding-bottom: 3rem;
  }

  .settings-section-headline {
    font-size: 1.6rem;
  }

  .settings-section-status-textarea {
    width: 75%;
    max-width: 35rem;
  }

  .settings-section-status-update-button,
  .settings-section-status-delete-button,
  .settings-section-edit-profil-name-button,
  .settings-section-edit-password-button,
  .settings-section-update-picture-button,
  .settings-section-delete-picture-button,
  .settings-section-reset-input-button,
  .settings-section-private-data-div-load-button,
  .settings-section-create-private-data-button,
  .settings-section-update-private-data-button,
  .settings-section-delete-private-data-button,
  .settings-section-edit-private-user-popup-close-button,
  .settings-section-new-private-user-popup-new-user-data-button,
  .settings-section-edit-private-user-popup-update-user-data-button,
  .settings-section-return-consent-popup-close-button,
  .settings-section-return-consent-popup-logout-button,
  .settings-section-delete-private-user-popup-close-button,
  .settings-section-delete-private-user-popup-delete-button {
    height: 2.3rem;
    font-size: 1rem;
  }

  .settings-section-create-private-data-button,
  .settings-section-update-private-data-button,
  .settings-section-delete-private-data-button {
    width: 13rem;
  }

  .settings-section-remove-avatar-file-icon,
  .settings-section-open-new-private-user-data-popup-icon,
  .settings-section-open-update-private-user-data-popup-icon,
  .settings-section-open-delete-private-user-data-popup-icon {
    width: 1.3rem;
  }

  .settings-section-generally-data-main-div {
    padding: 20px 15px;
  }

  .settings-section-generally-data-div-headline {
    font-size: 1.5rem;
  }

  .settings-section-edit-profil-name-input,
  .settings-section-edite-password-input,
  .settings-section-edit-picture-input {
    height: 2.3rem;
  }

  .settings-section-edit-private-user-popup-input,
  .settings-section-edit-private-user-popup-input,
  .settings-section-edit-private-user-popup-input,
  .settings-section-edit-private-user-popup-input,
  .settings-section-edit-private-user-popup-input {
    height: 2.3rem;
  }

  .settings-section-private-data-div-table {
    width: 30rem;
    display: flex;
    flex-direction: row;
  }

  .settings-section-table-headline-div {
    display: flex;
    flex-direction: column;
  }

  .settings-section-table-head-title {
    width: 15rem;
    text-align: left;
    padding-left: 1rem;
  }

  .settings-section-table-info-div {
    display: flex;
    flex-direction: column;
  }

  .settings-section-private-data-div-info {
    width: 15rem;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .number {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .settings-section-private-data-div-info {
    height: 38px;
    text-align: left;
  }

  .settings-section-private-user-data-div-button-div {
    width: 14rem;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .settings-section-return-consent-div-headline {
    margin-left: 13%;
    font-size: 1.7rem;
  }

  .settings-section-agb-div-headline,
  .settings-section-data-protection-headline,
  .settings-section-user-consent-headline {
    margin: 2.5rem 13% 0 13%;
    font-size: 1.5rem;
  }

  .settings-section-agb-accept-div,
  .settings-section-data-protection-accept-div,
  .settings-section-user-consent-accept-div {
    margin-left: 15%;
  }

  .settings-section-agb-input-checkbox,
  .settings-section-data-protection-input-checkbox,
  .settings-section-user-consent-input-checkbox {
    margin-left: 0;
  }

  .settings-section-delete-user-account {
    margin-left: 12.5%;
  }

  .settings-section-return-consent-popup-content {
    text-align: left;
  }

  .settings-section-return-consent-popup-button-div {
    width: 10rem;
    margin: 1rem auto;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .settings-section-return-consent-popup-description {
    padding-top: 3rem;
  }

  .settings-section-delete-account-popup-content {
    margin-top: 0.5rem;
    text-align: left;
  }

  .settings-section-delete-user-account {
    font-size: 1rem;
  }

  /*Forget-Password*/

  .to-signin-icon {
    width: 2.7rem;
  }

  .forget-password-text {
    text-align: left;
  }

  /*Impressum*/

  .imprint-section-back-icon {
    width: 2rem;
  }

  .imprint-section-main-div {
    margin-top: 3rem;
  }

  .imprint-section-headline {
    font-size: 1.6rem;
  }

  .imprint-section-tmg-contact {
    font-size: 1.1rem;
  }

  .imprint-section-tmg-headline,
  .imprint-section-tmg-name,
  .imprint-section-tmg-adress,
  .imprint-section-tmg-mail {
    font-size: 1rem;
  }

  /*AGB*/

  .agb-section-back-icon {
    width: 2rem;
  }

  .agb-section-main-div {
    margin-top: 3rem;
  }

  .agb-section-headline {
    font-size: 1.5rem;
  }

  .agb-component-paragraph-div {
    margin: 0 10%;
    font-size: 1rem;
  }

  .agb-component-headline {
    font-size: 1.1rem;
  }

  /*Data-Protection*/

  .data-protection-section-back-icon {
    width: 2rem;
  }

  .data-protection-section-main-div {
    margin-top: 3rem;
  }

  .data-protection-section-headline {
    font-size: 1.5rem;
  }

  .data-protection-component {
    padding: 3rem 0;
  }

  .data-protection-component-clause-div {
    margin: 0 10%;
    font-size: 1rem;
  }

  .data-protection-component-clause-headline {
    font-size: 1.1rem;
  }

  .data-protection-component-data-processing-table {
    margin: 1rem auto 0 auto;
  }

  .data-protection-component-data-processing-table-headline {
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
  }

  .data-protection-component-data-processing-table-info {
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
  }

  /*Update-Password*/

  .update-password-section-back-icon {
    width: 2rem;
  }

  .update-password-section-main-div {
    width: 25rem;
    padding: 2.5rem 0;
  }

  .update-password-input,
  .update-password-button {
    width: 14rem;
    height: 2.3rem;
    font-size: 1rem;
  }

  /*Forget Password*/

  .forget-password-section-back-icon {
    width: 2rem;
  }

  .forget-password-section-text {
    font-size: 1.3rem;
  }

  .forget-password-section-main-div {
    width: 25rem;
    padding: 2.5rem 0;
  }

  .forget-password-section-password-input,
  .forget-password-section-password-reset-button {
    width: 14rem;
    height: 2.3rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .interaction-label {
    display: none;
  }

  /*SignIn*/

  .logo-img {
    width: 4rem;
  }

  .headline-div {
    padding: 1rem 1.7rem;
  }

  .signin-headline {
    font-size: 1.7rem;
  }

  .signin-div {
    width: 95%;
    max-width: 21rem;
  }

  .signin-button {
    font-size: 1rem;
  }

  .signin-toasty-both-fields,
  .signin-toasty-incorrect {
    font-size: 1.2rem;
  }

  .forget-password {
    font-size: 1rem;
  }

  .footer-info-div {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .seperate-symbole {
    display: none;
  }

  /*Navigation*/

  .nav-section {
    height: 3.7rem;
    position: fixed;
    bottom: -0.1rem;
    z-index: 1;
    column-gap: 7%;
  }

  .nav-section-logo-img {
    display: none;
  }

  .nav-section-mobile-active-nav-div {
    display: flex;
    flex-direction: column-reverse;
  }

  .nav-section-icon-description-div {
    height: 3.5rem;
  }

  .nav-section-home-icon,
  .nav-section-users-icon,
  .nav-section-ring-bell-icon,
  .nav-section-bell-icon {
    width: 1.7rem;
  }

  .nav-section-plus-icon,
  .nav-section-paper-icon {
    width: 1.4rem;
  }

  .nav-section-user-picture {
    width: 2rem;
    height: 2rem;
  }

  .nav-section-user-icon {
    width: 1.7rem;
  }

  .nav-section-user-label,
  .nav-section-settings-label,
  .nav-section-logout-label {
    font-size: 15px;
  }

  .nav-section-new-message {
    top: 0;
    font-size: 0.8rem;
  }

  .nav-section-user-options-icon {
    display: none;
  }

  .nav-section-user-mobile-options-icon {
    display: block;
  }

  .nav-section-user-options-icon-div {
    top: 0.4rem;
    left: 1.4rem;
    width: 20px;
    height: 20px;
  }

  .nav-section-user-options-div {
    top: 35rem;
    padding: 0.2rem;
  }

  .nav-section-user-options-animation-div {
    top: 21rem;
  }

  /*Overview*/

  .overview-section-consent-popup {
    padding: 1.5rem 0;
  }

  .overview-section-consent-popup-agb-div,
  .overview-section-consent-popup-data-protection-div,
  .overview-section-consent-popup-user-consent-div {
    width: 95%;
  }

  .overview-section-consent-popup-agb,
  .overview-section-consent-popup-data-protection {
    height: 20rem;
  }

  .overview-section-consent-popup-button-div {
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  .overview-section-cancel-button,
  .overview-section-continue-button {
    width: 100%;
    max-width: 8.5rem;
    height: 2rem;
    padding: 0 0.1rem;
  }

  .overview-section-overview-placeholder,
  .overview-section-overview-placeholder2 {
    display: none;
  }

  .overview-section-show-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .overview-section-post-overview {
    height: 30.5rem;
  }

  /*Users*/

  .users-section-popup-input-button-div {
    width: 100%;
    max-width: 25rem;
  }

  .users-section-popup-input {
    width: 75%;
    height: 2.3rem;
    font-size: 1rem;
  }

  .users-section-popup-search-button {
    height: 2.5rem;
  }

  .users-section-popup-search-icon {
    width: 1.3rem;
  }

  .users-section-popup-user-picture {
    width: 2.7rem;
    height: 2.7rem;
  }

  .users-section-popup-post-user-icon {
    width: 1.7rem;
    height: 1.7rem;
  }

  .users-section-popup-user-div {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    padding: 1.3rem 0 1.3rem 1.7rem;
  }

  .users-section-popup-close-button {
    font-size: 1rem;
  }

  .users-section {
    padding-top: 0.3rem;
  }

  .users-section-search-icon,
  .users-section-users-icon {
    width: 1.5rem;
    margin: 0;
  }

  /*New Post*/

  .new-post-section {
    padding-top: 3rem;
  }

  .new-post-section-textarea-div,
  .new-post-section-moderation-medium-div {
    width: 95%;
  }

  .new-post-section-textarea-div {
    margin-top: 0;
  }

  .new-post-section-create-post-textarea {
    font-size: 1rem;
  }

  .new-post-section-create-post-button-div {
    flex-direction: column;
    row-gap: 0.3rem;
  }

  .new-post-section-moderation-focus-word {
    font-size: 1rem;
  }

  .new-post-section-moderation-notice {
    font-size: 0.9rem;
  }

  .new-post-section-create-post-input-file[type="file"] {
    height: 2rem;
    font-size: 0.9rem;
  }

  .new-post-section-create-post-reset-input-button,
  .new-post-section-create-post-mb-message,
  .new-post-section-create-post-close-button,
  .new-post-section-create-post-create-button {
    height: 2rem;
    font-size: 0.9rem;
  }

  .new-post-section-create-post-close-button,
  .new-post-section-create-post-create-button {
    width: 100%;
  }

  .new-post-section-create-post-close-icon,
  .new-post-section-create-post-plus-icon {
    width: 1.3rem;
  }

  /*Message*/

  .message-section {
    padding-top: 1rem;
  }

  .message-section-headline {
    margin-top: 0;
    font-size: 1.7rem;
  }

  .message-section-overview-div {
    width: 95%;
    padding: 0.5rem;
    row-gap: 0.5rem;
  }

  .message-section-post-user-icon {
    width: 2.3rem;
  }

  .message-section-button-div {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .message-section-follow-false-button,
  .message-section-follow-true-button,
  .message-section-show-profil-button {
    font-size: 0.9rem;
  }

  .message-section-show-profil-button {
    padding: 0.5rem 1.5rem;
  }

  /*Post*/

  .post-user-div {
    padding: 15px 20px;
  }

  .post-profilpicture {
    width: 2.3rem;
    height: 2.3rem;
  }

  .post-user-icon {
    width: 2rem;
  }

  .post-profilname {
    font-size: 1rem;
  }

  .post-option-button-div {
    position: relative;
  }

  .post-option-kebab-div {
    position: absolute;
    margin: 5rem 11rem 0 0;
    z-index: 1;
  }

  .post-edit-icon,
  .post-delete-icon {
    width: 1.4rem;
  }

  .post-kebab-menu-button {
    display: block;
  }

  .hidden-post-kebab-menu-button,
  .search-user-status,
  .post-edit-delete-div {
    display: none;
  }

  .post-text {
    padding: 0 10px;
    font-size: 0.9rem;
  }

  .post-timestamp {
    padding: 1px 15px;
    font-size: 13px;
  }

  .post-button-div {
    padding: 1rem;
  }

  .post-like-icon,
  .post-dislike-icon,
  .post-comment-icon {
    width: 1.3rem;
  }

  .post-like-label,
  .post-dislike-label,
  .post-comment-label {
    font-size: 1rem;
  }

  /*Comment*/

  .comment-overview-popup-header {
    height: 30rem;
  }

  .comment-overview-popup-description {
    margin: 0.3rem 0;
  }

  .comment-no-support-content-popup-focus-word {
    font-size: 1rem;
  }

  .comment-no-support-content-popup-text {
    font-size: 0.9rem;
  }

  .comment-overview-popup-description,
  .comment-create-popup-button-div,
  .comment-update-popup-button-div {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .comment-overview-popup-close-button,
  .comment-overview-popup-open-new-comment-button,
  .comment-create-popup-close-button,
  .comment-create-popup-new-comment-button,
  .comment-update-popup-close-button,
  .comment-update-popup-update-button {
    width: 100%;
  }

  .comment-overview-popup-close-button,
  .comment-create-popup-close-button,
  .comment-update-popup-close-button {
    height: 2rem;
  }

  .comment-overview-popup-close-button,
  .comment-overview-popup-open-new-comment-button {
    max-width: 16.3rem;
  }

  .comment-create-popup-close-button,
  .comment-create-popup-new-comment-button {
    max-width: 16.3rem;
  }

  .comment-update-popup-close-button,
  .comment-update-popup-update-button {
    max-width: 17.5rem;
  }

  .comment-overview-popup-open-new-comment-button,
  .comment-create-popup-new-comment-button,
  .comment-update-popup-update-button {
    height: 3rem;
  }

  .comment-user-picture {
    width: 2rem;
    height: 2rem;
  }

  .comment-user-icon {
    width: 1.5rem;
  }

  .comment-option-button-div {
    padding: 1rem auto 0.7rem auto;
  }

  .comment-edit-icon,
  .comment-delete-icon {
    width: 1.5rem;
  }

  .comment-like-icon,
  .comment-dislike-icon {
    width: 1.4rem;
  }

  .delete-comment-popup-description {
    font-size: 1rem;
  }

  .comment-delete-popup-close {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .comment-delete-popup-close-button,
  .comment-delete-popup-delete-button {
    width: 100%;
    max-width: 8rem;
    height: 2rem;
    font-size: 0.9rem;
    padding: 0 0.5rem;
  }

  .comment-delete-popup-close-icon,
  .comment-delete-popup-delete-icon {
    width: 1.2rem;
  }

  /*User*/

  .update-post-popup-input-button-div {
    width: 20rem;
    margin: 0 auto;
    flex-direction: column;
  }

  .update-post-popup-reset-input-button,
  .update-post-popup-close-button,
  .update-post-popup-update-button,
  .delete-post-popup-close-button,
  .delete-post-popup-delete-button {
    width: 100%;
  }

  .update-post-popup-mb-message {
    width: 20rem;
    margin: 0 auto;
  }

  .update-post-popup-button-div {
    width: 20rem;
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .delete-post-popup-button-div {
    width: 13rem;
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .user-section {
    padding-top: 1rem;
  }

  .user-section-status-text-div {
    width: 95%;
    max-width: 25rem;
    height: 3rem;
    margin: 0 auto;
    font-size: 1rem;
  }

  .followers-div,
  .following-div,
  .followers-label,
  .following-label {
    font-size: 1rem;
  }

  .user-section-follow-button {
    font-size: 0.9rem;
    height: 2.3rem;
  }

  .user-section-post-overview-div {
    width: 100%;
    height: 38rem;
    margin: 0 auto;
    padding: 0;
  }

  /*Settings*/

  .settings-section {
    padding-top: 1rem;
  }

  .settings-section-headline {
    margin: 0;
  }

  .settings-section-status-textarea {
    width: 95%;
  }

  .settings-section-status-button-div {
    width: 13rem;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .settings-section-edit-profil-name-div,
  .settings-section-edit-password-div {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .settings-section-generally-data-main-div {
    margin-top: 1.5rem;
  }

  .settings-section-edit-profil-name-div {
    width: 100%;
  }

  .settings-section-edit-profil-name-input,
  .settings-section-edite-password-input,
  .settings-section-edit-picture-input {
    height: 2rem;
    font-size: 1rem;
  }

  .settings-section-status-update-button,
  .settings-section-status-delete-button,
  .settings-section-edit-profil-name-button,
  .settings-section-edit-password-button,
  .settings-section-reset-input-button,
  .settings-section-update-picture-button,
  .settings-section-delete-picture-button,
  .settings-section-private-data-div-load-button,
  .settings-section-edit-private-user-popup-close-button,
  .settings-section-new-private-user-popup-new-user-data-button,
  .settings-section-edit-private-user-popup-update-user-data-button,
  .settings-section-delete-private-user-popup-close-button,
  .settings-section-delete-private-user-popup-delete-button,
  .settings-section-delete-user-account {
    height: 2rem;
    font-size: 1rem;
  }

  .settings-section-status-update-button,
  .settings-section-status-delete-button,
  .settings-section-edit-profil-name-button,
  .settings-section-edit-password-button,
  .settings-section-reset-input-button,
  .settings-section-update-picture-button,
  .settings-section-delete-picture-button {
    width: 100%;
    max-width: 12rem;
  }

  .settings-section-remove-avatar-file-icon,
  .settings-section-open-new-private-user-data-popup-icon,
  .settings-section-open-update-private-user-data-popup-icon,
  .settings-section-open-delete-private-user-data-popup-icon,
  .settings-section-cancel-icon,
  .settings-section-new-private-user-data-icon,
  .settings-section-edite-private-user-data-icon,
  .settings-section-delete-private-user-popup-delete-button,
  .settings-section-delete-private-user-date-delete-icon {
    width: 1.1rem;
  }

  .settings-section-medium-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  .settings-section-picture-button-div {
    width: 100%;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .settings-section-generally-data-div-headline,
  .settings-section-private-data-div-headline,
  .settings-section-mini-headline {
    font-size: 1.3rem;
  }

  .settings-section-private-data-overview-div {
    margin-top: 1.3rem;
  }

  .settings-section-delete-private-user-popup-note {
    margin-top: 1rem;
  }

  .settings-section-edit-private-user-popup-input,
  .settings-section-edit-private-user-popup-input,
  .settings-section-edit-private-user-popup-input,
  .settings-section-edit-private-user-popup-input,
  .settings-section-edit-private-user-popup-input {
    width: 95%;
  }

  .settings-section-edit-private-user-popup-close-button,
  .settings-section-new-private-user-popup-new-user-data-button,
  .settings-section-edit-private-user-popup-update-user-data-button {
    width: 100%;
    max-width: 12rem;
  }

  .settings-section-edit-private-user-popup-button-div,
  .settings-section-delete-private-user-popup-button-div {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .settings-section-edit-private-user-popup-button-div {
    width: 14rem;
    margin: 2rem auto 1rem auto;
  }

  .settings-section-delete-private-user-popup-button-div {
    width: 100%;
    margin: 0 auto;
  }

  .settings-section-delete-private-user-popup-close-button,
  .settings-section-delete-private-user-popup-delete-button {
    width: 100%;
    max-width: 10.5rem;
    padding: 0 0.3rem;
  }

  .settings-section-private-user-data-div-button-div {
    width: 13rem;
  }

  .settings-section-private-data-div-info {
    width: 100%;
  }

  .settings-section-private-data-div-table {
    width: 95%;
  }

  .settings-section-private-data-form-div {
    width: 100%;
  }

  .settings-section-table-headline-div,
  .settings-section-table-info-div {
    width: 50%;
  }

  .settings-section-delete-account-popup-button-div {
    width: 17rem;
    margin: 1rem auto;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .settings-section-delete-account-popup-close-button,
  .settings-section-delete-account-popup-delete-button {
    width: 100%;
    font-size: 17px;
  }

  .settings-section-return-consent-div-headline {
    font-size: 1.5rem;
  }

  .settings-section-agb-div-headline,
  .settings-section-data-protection-headline,
  .settings-section-user-consent-headline {
    font-size: 1.2rem;
  }

  .settings-section-agb-overview,
  .settings-section-data-protection-overview,
  .settings-section-user-consent-text {
    width: 90%;
  }

  /*Forget-Password*/

  .forget-password-section-back-icon {
    width: 1.7rem;
  }

  .forget-password-section-text {
    font-size: 1.1rem;
  }

  .forget-password-section-main-div {
    width: 95%;
    padding: 2.5rem 0;
  }

  .forget-password-section-password-input,
  .forget-password-section-password-reset-button {
    width: 12rem;
    height: 2rem;
    font-size: 0.9rem;
  }

  .forget-password-section-password-reset-button {
    padding: 0 0.1rem;
  }

  /*Update-Password*/

  .update-password-section-back-icon {
    width: 1.7rem;
  }

  .update-password-section-main-div {
    width: 95%;
    padding: 2.5rem 0;
  }

  .update-password-input,
  .update-password-button {
    width: 12rem;
    height: 2rem;
    font-size: 0.9rem;
  }

  .update-password-section-password-reset-button {
    padding: 0 0.1rem;
  }

  /*Impressum*/

  .impressum-headline {
    font-size: 1.7rem;
  }

  .tmg-headline,
  .tmg-mail {
    font-size: 1rem;
  }

  .tmg-name,
  .tmg-adress {
    font-size: 0.9rem;
  }

  .tmg-contact {
    font-size: 1.1rem;
  }

  /*AGB*/

  .agb-section-back-icon {
    width: 1.7rem;
  }

  .agb-section-main-div {
    margin-top: 1.5rem;
  }

  .agb-section-headline {
    font-size: 1.3rem;
  }

  .agb-component-paragraph-div {
    margin: 0 5%;
    font-size: 0.9rem;
  }

  .agb-component-headline {
    font-size: 1rem;
  }

  /*Data-Protection*/

  .data-protection-section-back-icon {
    width: 1.7rem;
  }

  .data-protection-section-main-div {
    margin-top: 1rem;
  }

  .data-protection-section-headline {
    font-size: 1.3rem;
  }

  .data-protection-component {
    padding: 3rem 0;
  }

  .data-protection-component-clause-div {
    margin: 0 5%;
    font-size: 0.9rem;
  }

  .data-protection-component-clause-headline {
    font-size: 1rem;
  }

  .data-protection-component-data-processing-table {
    margin: 1rem auto 0 auto;
  }

  .data-protection-component-data-processing-table-headline {
    padding: 0.1rem 0.2rem;
    font-size: 0.9rem;
  }

  .data-protection-component-data-processing-table-info {
    padding: 0.1rem 0.2rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 300px) {
  /*SignIn*/

  .logo-img {
    width: 4rem;
  }

  .headline-div {
    padding: 13px 18px;
  }

  .signin-headline {
    font-size: 1.8rem;
  }

  .signin-div {
    width: 95%;
  }

  .signin-toasty-both-fields,
  .signin-toasty-incorrect {
    font-size: 1rem;
  }

  .footer-info-div {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .seperate-symbole {
    display: none;
  }

  /*Overview*/

  .consent-popup-agb-div {
    padding-top: 80rem;
  }

  .overview-placeholder,
  .overview-placeholder2 {
    display: none;
  }

  .overview-section-show-content {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  .overview-section-post-overview {
    height: 45rem;
  }

  /*Message*/

  /*Post*/

  .post {
    margin: 0;
    padding: 0 3px;
  }

  .post-user-div {
    padding: 7px 15px;
  }

  .post-profilpicture {
    width: 2.5rem;
    height: 2.5rem;
  }

  .post-text {
    padding: 0 10px;
  }

  .post-medium-div {
    margin: 0.5rem 0;
  }

  .post-timestamp {
    padding: 0 6px;
    font-size: 0.8rem;
  }

  .post-like-icon,
  .post-dislike-icon,
  .post-comment-icon {
    width: 1rem;
  }

  /*Comment*/

  .comment-overview-popup-open-new-comment-button,
  .comment-create-popup-new-comment-button,
  .comment-update-popup-update-button {
    height: 3.5rem;
  }

  /*User*/

  .create-post-popup,
  .update-post-popup {
    padding: 1.5rem 0.3rem;
  }

  .create-post-popup-textarea,
  .update-post-popup-textarea {
    width: 97%;
    margin: 0 auto;
  }

  .update-post-popup-description {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .delete-post-popup-description {
    padding: 0.5rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  .update-post-popup-input-button-div {
    width: 16rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .update-post-popup-reset-input-button,
  .update-post-popup-close-button,
  .update-post-popup-update-button {
    width: 100%;
  }

  .update-post-popup-mb-message {
    width: 16rem;
    margin: 0 auto;
  }

  .update-post-popup-button-div {
    width: 16rem;
    margin: 0 auto;
  }

  .delete-post-popup-button-div {
    margin: 0 auto;
  }

  .follow-button {
    font-size: 16px;
    padding: 8px 18px;
  }

  .user-section-post-overview-div {
    height: 41rem;
  }

  /*Settings*/

  .settings-section-success-toasty {
    height: 11rem;
  }

  .settings-section-notice-toasty {
    height: 8rem;
  }

  .settings-section-edit-private-user-popup-input {
    width: 14rem;
  }

  .settings-section-edit-private-user-popup-button-div {
    width: 13rem;
  }

  .settings-section-delete-private-user-popup-description {
    padding: 20px 0;
  }

  .settings-section-headline {
    font-size: 1.7rem;
  }

  .settings-section-status-textarea {
    width: 95%;
  }

  .settings-section-generally-data-div-headline,
  .settings-section-private-data-div-headline {
    font-size: 1rem;
  }

  .settings-section-generally-data-main-div {
    width: 95%;
    margin-top: 1rem;
  }

  .settings-section-edit-profil-name-input {
    height: 2rem;
  }

  .settings-section-private-data-div,
  .settings-section-private-data-overview-div,
  .settings-section-delete-account-popup-content {
    margin-top: 1rem;
  }

  .settings-section-return-consent-div-headline {
    font-size: 1.5rem;
  }

  .settings-section-agb-div-headline,
  .settings-section-data-protection-div-headline,
  .settings-section-user-consent-headline {
    padding-right: 5%;
    font-size: 1.3rem;
  }

  .settings-section-agb-overview {
    width: 95%;
    padding: 0;
  }

  .settings-section-data-protection-overview {
    width: 95%;
    padding: 1rem 0;
  }

  .settings-section-return-consent-popup-description {
    padding-top: 2rem;
  }

  .settings-section-user-consent-text {
    width: 95%;
  }

  .settings-section-return-consent-popup-close-button,
  .settings-section-return-consent-popup-logout-button {
    font-size: 16px;
  }

  .settings-section-delete-account-popup-description {
    padding: 0;
  }

  .settings-section-delete-account-popup-button-div {
    width: 15rem;
  }

  .settings-section-delete-account-popup-close-button,
  .settings-section-delete-account-popup-delete-button {
    font-size: 16px;
  }

  /*Forget-Password*/

  .forget-password-div {
    width: 90%;
  }

  /*Update-Password*/

  .update-password-div {
    width: 90%;
  }

  /*Impressum*/

  /*AGB*/

  .agb-headline {
    font-size: 1.7rem;
  }

  .agb-paragraph-div {
    margin: 0 auto;
    font-size: 1rem;
  }

  .agb-paragraph-headline {
    font-size: 1.3rem;
  }

  /*Data-Protection*/

  .data-protection-headline {
    margin: 0.3rem auto;
    font-size: 1.5rem;
  }

  .data-protection-component {
    padding: 1rem 0;
  }

  .clause-div {
    margin: 0 0.5rem;
    font-size: 1rem;
  }

  .clause-headline {
    font-size: 1.2rem;
  }

  .data-processing-table {
    margin: 0.5rem auto 0 auto;
  }

  .data-processing-table-headline {
    padding: 0.1rem 0.3rem;
    font-size: 1rem;
  }

  .data-processing-table-info {
    padding: 0.1rem 0.3rem;
    font-size: 0.9rem;
  }
}
